
h1,h2,h3 {
  font-family: verdana;
  text-transform:none!important;
}

.em {
	color:#00C0F7!important;
}

.em3 {
  color:#6AB825!important
}

.em4 {
  color:#ED9D13!important
}

.em2 {
  color:#ED9D13!important
}

.em5 {
  color:maroon!important;
}


h1 {
  font-size:2.5em!important;
  text-shadow:none!important;
}

h2 {
  font-size:2.0em!important;
}

html {
  background:url('pattern.png') repeat;
}

body {
  background-image:none;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 30%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 30%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.1) 30%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.1) 30%,rgba(0,0,0,1) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.reveal {
  z-index:1500;
}

#me {
  border: 0;
  margin-top: -20px;
  background: none;
  margin-bottom: -50px;
}

#logo {
  border:0;
  background:url('ruby.png') no-repeat top;
  height: 300px;
  margin-top:-20px;
  z-index:100;
  position:relative;
}
.logo {
  border-radius: 10px;
}

#logo:after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 70%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 70%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.1) 70%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.1) 70%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.1) 70%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.existing-example {
  margin:30px auto!important;
  background:url('existing-example.png') no-repeat center top;
  height:300px;
  display:block;
}
.animated-example {
  margin:30px auto!important;
  background:url('animated-example.png') no-repeat center top;
  height:300px;
  display:block;
}

#anchor {
  position:fixed;
  bottom:20px;
  left:20px;
  font-size:2em;
  background:rgba(0,0,0,1);
  padding:10px;
  text-decoration:none;
}

.big-code * {
  font-size:25px!important;
  line-height:30px!important;
}
.yom-table {
  width:100%;
  border-collapse:collapse;
}

.yom-table td,
.yom-table th {
  width:50%;
  text-align:center!important;
  border:5px solid #222;
  padding:10px;
}
.yom-table th {
  background:#00566f!important
}
.yom-table td {
  background:rgba(50,50,50,0.8);
}
#animation-inputs th.first,
#animation-inputs td.first {
  width:30%!important;
}
#animation-members th.first,
#animation-members td.first {
  width:20%!important;
}

.align-center {
  text-align:center;
}

.joybox {
  background: url(../img/cat-intro2.png) no-repeat center 50px, url("../img/bg-intro.png") no-repeat center;
  min-height: 600px;
}
